@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  width: 100vw;
}
h1,h2,h3,h4,h5,h6{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div,section{
  transition: 5s ease-in-out;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
}
p, b, button{
  font-size: 1.4rem;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.6rem;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
li{
  transition: 0.2s ease-in-out;
}

li:active{
  background-color: rgb(206, 206, 206);
    transition: 0.1s ease-in-out;
    }
figure {
  margin: 0;
}
button, .button,.Link{
  background-color: 	rgb(206, 206, 206);
  padding: 1rem;
  border-radius: 10rem;
  transition: 0.1s ease-in-out;  
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover, 
.button:hover,
Link:hover
{
  background-color: rgb(202,255,112);
  transition: 0.2s ease-in-out;
}

li:hover p{
  color: rgb(89, 89, 89);
  transition: 0.2s ease-in-out;
}